/* Material prerequisites */
html,
body,
.view {
  height: 100%;
  font-size: 1.05rem;
}
/* Navigation*/
.navbar {
  background-color: transparent;
}
.scrolling-navbar {
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  background-color: #2b3f66;
}
.dark-background {
  background-color: #2b3f66;
}
footer.page-footer {
  background-color: #2b3f66;
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2b3f66;
  }
}
/* Carousel*/
.carousel,
.carousel-item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
/*Caption*/
.flex-center {
  color: #fff;
}
@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline;
  }
  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem;
  }
}
.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}
/* Custom styling */
.app {
  height: 100%;
}
.app .navigation-container .navbar-override {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.app .navigation-container .language-selector {
  background-color: #4285f400 !important;
  padding: 12px;
}
.app.educationBackground {
  height: auto;
}
.app.productsBackground {
  height: auto;
}
.app.careerBackground {
  height: auto;
}
.app.contactBackground {
  height: auto;
}
.app .homepage {
  height: inherit;
}
.app .homepage .carousel-container-ul {
  visibility: hidden;
}
.app .homepage .carousel-body {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 30px;
}
.app .homepage .carousel-body .carousel-data {
  display: block;
  height: auto;
}
.app .homepage .carousel-body.desktopCarousel {
  margin-top: 70px;
  padding: 0 44px 0 400px;
  min-width: 855px;
  max-width: 1125px;
  text-align: justify;
}
.app .homepage .carousel-body.desktopCarousel .carousel-image-left,
.app .homepage .carousel-body.desktopCarousel .carousel-image-right {
  position: absolute;
  min-width: 375px;
  width: 33%;
  height: 100%;
  max-height: 500px;
  top: 0;
  left: 8px;
  background-image: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  border-bottom: 3px solid white;
}
.app .homepage .carousel-body.desktopCarousel .carousel-image-right {
  top: auto;
  bottom: 0;
  display: none;
}
.app .homepage .carousel-body.desktopCarouselSecond {
  margin-top: 70px;
  padding: 0 44px 0 0;
  min-width: 855px;
  max-width: 1125px;
  text-align: justify;
}
.app .homepage .carousel-body.hidePanels {
  max-width: 1000px;
}
.app .homepage .carousel-body.hidePanels .carousel-image-left,
.app .homepage .carousel-body.hidePanels .carousel-image-right {
  display: none;
}
.app .education .education-header {
  font-size: 1.5rem;
}
.app .education ul {
  list-style-type: circle;
}
.app .education .side-images {
  height: 80vh;
  width: 300px;
  position: absolute;
  left: 50px;
}
.app .education .side-images img {
  display: none;
}
@media screen and (min-width: 1900px) {
  .app .education .side-images img {
    display: block;
    width: 300px;
    margin: 0 10px 10px;
    border-bottom: 5px solid teal;
  }
}
.app .career {
  margin-top: 30px;
}
.app .career .row .col-12 {
  margin-bottom: 15px;
}
.app .contact {
  height: 100%;
  margin: 55px 0;
}
.app .contact .form-message {
  min-height: 100px;
  padding-left: 5px;
}
.app .carousel .carousel-text-bottom {
  width: 100%;
  padding-right: 44px !important;
  margin: 0 !important;
  margin-top: 5px !important;
}
.app .carousel .carousel-data {
  color: black;
  line-height: 1;
}
.app .carousel .carousel-data ol li {
  display: block;
  margin-bottom: 0;
}
.app .container {
  height: inherit;
}
.app .container.container-plus {
  padding-top: 50px;
  height: auto !important;
}
.viewbox-reset {
  padding: 0 !important;
  min-height: auto !important;
}
.form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 2px;
}
.form-header h3 {
  margin-bottom: 0 !important;
  padding: .7rem;
}
.vertical-align {
  line-height: 2rem !important;
  font-weight: bold !important;
}
.margin-center {
  margin: auto 0;
}
.background-azure {
  background-color: rgba(240, 255, 255, 0.12);
}
.logo {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}
.fullWebsite .language-container {
  position: absolute;
  right: 5px;
}
.fullWebsite .language-container .language-picker-position {
  right: 0 !important;
  left: auto !important;
}
.fullWebsite .products .card-body {
  min-height: 200px;
  height: 200px;
  text-align: center;
}
.fullWebsite .products .card-body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.fullWebsite .products .card-body .product-center {
  display: inline-block;
  vertical-align: middle;
}
.fullWebsite .products .card-body .product-center .text-muted {
  color: #009688;
}
.show {
  visibility: visible !important;
}
