<!doctype html>
<html class="no-js" lang="" class="full-height">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Vendor css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vendor js-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/vendor/es6-promise.auto.js"></script>
    <script type="text/javascript" src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script type="text/javascript" src="js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/mdb.min.js"></script>

    <!-- Online dependencies -->
    <script type="text/javascript" src="https://smtpjs.com/v2/smtp.js"></script>
    <script type="text/javascript" src="js/vendor/vue.js"></script>
    <script type="text/javascript" src="js/vendor/prismic-dom.js"></script>
    <script type="text/javascript" src="js/vendor/prismic.min.js"></script>

    <!--Utilitaries-->
    <script type="text/javascript" src="js/utils.js"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="js/vue-components.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="app"
     v-bind:class="{educationBackground: currentView === 'education', productsBackground: currentView === 'products', careerBackground: currentView === 'career',contactBackground: currentView === 'contact', fullWebsite: !isMobile}" v-bind:style="{ backgroundImage: 'url(' +  backgroundConfigs.currentBackground + ')'}">
    <navigation-bar v-on:urlchange="currentPage()" class="navigation-container"></navigation-bar>
    <div class="homepage" v-bind:class="{viewFull: isMobile}" v-if="currentView === 'homepage'">
        <carousel-wrapper v-bind:my-data="carouselItem"></carousel-wrapper>
    </div>
    <div class="container container-plus" v-else>
        <div class="education" v-if="currentView === 'education'">
            <div class="side-images">
                <img v-bind:src="educationConfigs.imageOne" alt="">
                <img v-bind:src="educationConfigs.imageTwo" alt="">
            </div>
            <!--Section: Blog v.1-->
            <section class="section pb-3 text-center text-lg-left mt-5">
                <!--Grid row-->
                <div v-for="(item, index) in educationItems">
                    <div class="row">
                        <div class="col-12">
                            <div class="jumbotron">
                                <h2 class="form-header default-color-dark education-header">{{item.title}}</h2>
                                <span v-html="item.description"></span>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <hr class="hr-width pb-4">
                </div>
            </section>
            <!--Section: Blog v.1-->
        </div>
        <div class="products" v-else-if="currentView === 'products'">
            <!--Section: Products v.2-->
            <section class="section pb-3">
                <!--

                                        &lt;!&ndash;Section heading&ndash;&gt;
                                        <h1 class="section-heading h1 pt-4">Our bestsellers</h1>
                                        &lt;!&ndash;Section description&ndash;&gt;
                                        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
                -->

                <!--Grid row-->
                <div class="row mt-5">
                    <div v-for="item in productItems" class="col-lg-4 col-md-12 mb-r product-item">

                        <!--Card-->
                        <div class="card card-cascade wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img v-bind:src="item.image" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <div class="product-center">
                                    <!--Category & Title-->
                                    <a class="text-muted" v-bind:href="item.document" v-if="item.document" target="_blank"><h5>
                                        {{item.docTitle}}</h5></a>
                                    <h4 class="card-title"><strong><span>{{item.title}}</span></strong></h4>
                                    <!--Description-->
                                    <p class="card-text">{{item.description | truncate(300, '...')}}
                                    </p>
                                </div>

                                <!--Card footer-->
                                <!--<div class="card-footer">
                                    <span class="left">{{item.price}}$</span>
                                    <span class="right">
                                </span>
                                </div>-->

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Products v.2-->
        </div>
        <div class="career" v-else-if="currentView === 'career'">
            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                        <!-- Content -->
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                                    laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                                    dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->
                </div>
                <div class="col-12">
                    <!-- Card -->
                    <div class="card card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                        <!-- Content -->
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                                    laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                                    dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->
                </div>
                <div class="col-12">
                    <!-- Card -->
                    <div class="card card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                        <!-- Content -->
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                                    laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                                    dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->
                </div>
                <div class="col-12">
                    <!-- Card -->
                    <div class="card card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                        <!-- Content -->
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                                    laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                                    dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->
                </div>
            </div>
        </div>
        <div class="contact" v-else-if="currentView === 'contact'" id="contactAccordion">

            <button class="btn btn-primary indigo" v-on:click="formHandler('emc')"><i class="fa fa-magic mr-1"></i>
                {{contactInfoEMC.contact_title}}
            </button>
            <button class="btn btn-default unique-color" v-on:click="formHandler('office')">
                {{contactInfoOffice.contact_title}} <i class="fa fa-magic ml-1"></i></button>
            <!--Section: Contact EMC v.3-->
            <section v-if="ecmFormData.show" class="section mb-5 pt-5">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">

                        <!--Form with header-->
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-4">
                                    <section>
                                        <div class="card-body">
                                            <!--Header-->
                                            <div class="form-header indigo">
                                                <h3><i class="fa fa-lock"></i> {{contactInfoEMC.contact_info}} </h3>
                                            </div>

                                            <!--Body-->

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-map-marker"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align">{{contactInfoEMC.contact_address}}</h5>
                                                </div>
                                            </div>

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-phone"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align">
                                                        {{contactInfoEMC.contact_phone_number}}</h5>
                                                </div>
                                            </div>

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-envelope"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align"><!--{{contactInfoEMC.contact_email}}-->
                                                        emc@hematronic.ro</h5>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="row mt-2 mb-3 d-flex justify-content-center">
                                                <!--Facebook-->
                                                <a class="icons-sm fb-ic mr-2"
                                                   v-bind:href="contactInfoEMC.contact_facebook" target="_blank"><i
                                                    class="fa fa-2x fa-facebook"></i></a>
                                                <!--Twitter-->
                                                <a class="icons-sm tw-ic mr-2"
                                                   v-bind:href="contactInfoEMC.contact_linkedin" target="_blank"><i
                                                    class="fa fa-2x fa-linkedin"> </i></a>
                                                <!--Google +-->
                                                <a class="icons-sm li-ic mr-2"
                                                   v-bind:href="contactInfoEMC.contact_twitter" target="_blank"><i
                                                    class="fa fa-2x fa-instagram"> </i></a>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <div class="col-lg-8">
                                    <div class="card-body form">
                                        <!--Header-->
                                        <div class="formHeader mb-1 pt-3">
                                            <h3><i class="fa  fa-pencil-square-o mr-2"></i>{{contactInfoEMC.contact_message}}
                                            </h3>
                                        </div>

                                        <br>

                                        <form>
                                            <!--Grid row-->
                                            <div class="row">

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-name"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.name"
                                                                   v-model="ecmFormData.name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-email"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.email"
                                                                   v-model="ecmFormData.email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row">

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-phone"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.phone"
                                                                   v-model="ecmFormData.phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-participants"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.attendees"
                                                                   v-model="ecmFormData.attendees">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row">

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-town"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.location"
                                                                   v-model="ecmFormData.location">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>

                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-12">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <textarea type="text" id="form-contact-message"
                                                                      class="form-control form-message"
                                                                      v-bind:placeholder="formDataPlaceHolder.message"
                                                                      v-model="ecmFormData.message"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>

                                            <!--Grid row-->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button class="btn btn-indigo emc-submit" v-on:click="sendEMCData">
                                                        {{formDataPlaceHolder.sendLabel}} <i
                                                        class="fa fa-paper-plane-o ml-1"></i></button>
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Form with header-->

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </section>
            <!--Section: Contact v.3-->

            <!--Section: Contact Office v.3-->
            <section v-if="officeFormData.show" class="section mb-5 pt-5">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">

                        <!--Form with header-->
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-4">
                                    <section>
                                        <div class="card-body">
                                            <!--Header-->
                                            <div class="form-header unique-color">
                                                <h3><i class="fa fa-lock"></i> {{contactInfoOffice.contact_info}} </h3>
                                            </div>

                                            <!--Body-->

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-map-marker"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align">
                                                        {{contactInfoOffice.contact_address}}</h5>
                                                </div>
                                            </div>

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-phone"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align">
                                                        {{contactInfoOffice.contact_phone_number}}</h5>
                                                </div>
                                            </div>

                                            <div class="row margin-center">
                                                <div class="col-1 mr-1 offset-md-1">
                                                    <i class="fa fa-2x fa-envelope"></i>
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="vertical-align">
                                                        <!--{{contactInfoOffice.contact_email}}-->
                                                        office@hematronic.ro</h5>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="row mt-2 mb-3 d-flex justify-content-center">
                                                <!--Facebook-->
                                                <a class="icons-sm fb-ic mr-2"
                                                   v-bind:href="contactInfoOffice.contact_facebook" target="_blank"><i
                                                    class="fa fa-2x fa-facebook"></i></a>
                                                <!--Twitter-->
                                                <a class="icons-sm tw-ic mr-2"
                                                   v-bind:href="contactInfoOffice.contact_linkedin" target="_blank"><i
                                                    class="fa fa-2x fa-linkedin"> </i></a>
                                                <!--Google +-->
                                                <a class="icons-sm li-ic mr-2"
                                                   v-bind:href="contactInfoOffice.contact_twitter" target="_blank"><i
                                                    class="fa fa-2x fa-instagram"> </i></a>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <div class="col-lg-8">
                                    <div class="card-body form">
                                        <!--Header-->
                                        <div class="formHeader mb-1 pt-3">
                                            <h3><i class="fa  fa-pencil-square-o mr-2"></i>{{contactInfoOffice.contact_message}}
                                            </h3>
                                        </div>

                                        <br>

                                        <form>
                                            <!--Grid row-->
                                            <div class="row">

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-name"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.name"
                                                                   v-model="officeFormData.name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-email"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.email"
                                                                   v-model="officeFormData.email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row">

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-phone"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.phone"
                                                                   v-model="officeFormData.phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-town"
                                                                   class="form-control"
                                                                   v-bind:placeholder="formDataPlaceHolder.location"
                                                                   v-model="officeFormData.location">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-12">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <textarea type="text" id="form-contact-message"
                                                                      class="form-control form-message"
                                                                      v-bind:placeholder="formDataPlaceHolder.message"
                                                                      v-model="officeFormData.message"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>

                                            <!--Grid row-->
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button class="btn btn-indigo unique-color emc-submit"
                                                            v-on:click="sendOfficeData">
                                                        {{formDataPlaceHolder.sendLabel}} <i
                                                        class="fa fa-paper-plane-o ml-1"></i></button>
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Form with header-->

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </section>
            <!--Section: Contact v.3-->
        </div>
    </div>
    <material-footer v-bind:my-data="footerEntity"></material-footer>
</div>

<script>
    new WOW().init();
</script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
